/*Header*/
header{
    position: fixed;
    width: 94%;
}

/*Wraps*/
.container{
    padding: 40px 20px;
    overflow-x: hidden;    
}
#newWrap{
    white-space: nowrap;
    padding-top: 30px;
    cursor:grab;
    
}
@media (min-width: 767.98px) {
    .container{
        padding: 40px;
    }
}

/*PRODUCTOS NOVEDADES*/
#novedades .productCard{
    width: 100%;
    height: 230px;
    margin-right: 70px;
    display: inline-block;
}
#novedades .imageWrap{
    height: 80%;
    display: block;
}
#novedades .imageWrap img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#novedades .infoWrap{
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#novedades .infoWrap .title {
    text-align: center;
    margin: 5px 0px;
}
#novedades .infoWrap .price{
    text-align: right;
    padding-right: 10px;
}
#novedades .infoWrap .originalPrice{
    text-decoration:line-through;
    color: var(--descuento);
    margin-right: 7px;
    font-size: 0.85rem;
}

@media (min-width:768px) {
    #novedades .productCard{
        width: 230px;
        height: 230px;
    }
    #novedades .infoWrap .title {
        font-size: 1rem;
    }
    #novedades .infoWrap .price{
        font-size: 0.9rem;
    }
}
@media (min-width:998px) {
    #novedades .productCard{
        width: 300px;
        height: 280px;
    }
    #novedades .infoWrap .title {
        font-size:1.1rem;
    }
    #novedades .infoWrap .price{
        font-size: 1rem;
    }
}

/*PRODUCTOS TOP VENTAS*/
#ventasWrap{
    flex-wrap: wrap;
}
#topVentas .productCard{
    width: 45%;
    height: 190px;
    display: inline-block;
    margin-bottom: 25px;
}
#topVentas .imageWrap{
    height: 75%;
    display: block;
}
#topVentas .imageWrap img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#topVentas .infoWrap{
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
#topVentas .infoWrap .title {
    text-align: center;
    font-size: 0.9rem;
}
#topVentas .infoWrap .price{
    text-align: right;
    padding-right: 10px;
    font-size: 0.9rem;
}
#topVentas .infoWrap .originalPrice{
    text-decoration:line-through;
    color: var(--descuento);
    margin-right: 7px;
    font-size: 0.85rem;
}
@media (min-width:768px) {
    #topVentas .productCard{
        width: 45%;
        height: 180px;
        margin-top: 35px;
        margin-bottom: 0px;
    }
    #topVentas .infoWrap{
        flex-direction: row;
    }
    #topVentas .infoWrap .title {
        font-size: 1rem;
    }
}
@media (min-width:998px) {
    #topVentas .productCard{
        width: 15%;
        height: 200px;
    }
}

/*Banner*/
#mainBanner{
    height: 90vh;
}
#mainBanner img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*InfoGrid*/
#descGrid{
    flex-wrap: wrap;
}
.descWrap{
    box-shadow: 2px 1px 10px var(--fontColor);
    width: 100%;
    margin: 15px;
    border-radius: 20px;
    height: 280px;
    opacity: 0.95;
    background-position: center;
    background-size: 100%;
    transition: all 0.5s ease;
}
.descWrap:hover{
    box-shadow: 0px 0px 10px var(--fontColor);
    opacity: 1;
    background-size: 110%;
}
.descWrap h3, .descWrap h4{
    font-family: var(--titleFont);
    color: var(--fontColor);
}
.descWrap h3{
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.descalcitos{
    background-image: url(../pictures/logo-madera.PNG);
}
.barefoot{
    flex-direction: column;
    background-image: url(../pictures/barefoot.PNG);
}
.compromiso{
    background-image: url(../pictures/compromiso.jpg);
}
.marcas{
    background-image: url(../pictures/marcas.png);
}
@media (min-width:768px) {
    .descWrap{
        width: 500px;
        height: 400px;
    }
}