/*main*/
main{
    margin: 60px 0px;
    padding-bottom: 50px;
    flex-direction: column;
}

/*Secciones*/
section{
    width: 1000px;
}
.mainWrap{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    min-height: 300px;
}
.tableWrap{
    margin-top: 10px;
    min-height: 300px;
}

/*Título*/
h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}
h1 strong{
    color: var(--mainColor);
}
.mainWrap h3{
    margin-bottom: 10px;
}
@media (min-width: 767.98px) {
    h1{
        text-align: left;
    }
}

/*cards*/
.mainWrap div{
    width: 32%;
    min-height: 150px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainWrap li{
    margin: 10px 0px;
}

/*Tabla*/
table{
    width: 100%;
}
td{
    padding: 10px 0px;
    text-align: center;
}

/*Filtro*/
.filtro{
    margin-bottom: 20px;
}
.button{
    margin: 0px 10px;
}

/*Estados*/
.estados{
    position: relative;
    width: 100px;
    margin-right: 10px;
    height: 30px;
}
.estados ul{
    position: absolute;
    max-height: 25px;
    overflow: hidden;
    background-color: white;
    transition: all 0.5s ease;
}
.estados ul li{
    padding: 0px 5px;
    padding-bottom: 10px;
    font-size: 1.2em;
    cursor: pointer;
}
.estadoPedido{
    font-size: 1.2em;
}

.estados:hover ul{
    max-height: 250px;
    border: 1px solid grey;
    border-radius: 10px;
}

/*Inputs*/
.inputForm{
    padding: 10px 10px 7px 10px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--mainColor);
    position: relative;
    background: transparent;
    margin-right: 20px;
}